.service-card {
    border: 2px solid red;
    margin: 2px;
    padding-left: 2px;
}

.card-img{
    height: 200px;
    width: 100%;

}

.list-item{
    list-style: none;
}

.copyright{
    border-top: 1px solid grey;
    padding-top: 10px;
}